﻿@using OrdersWebApp.Properties

<div class="contact">
    <div class="row">
        <div class="adress medium-6 columns" itemscope itemtype="http://schema.org/LocalBusiness">
            <h2>
                @Html.Partial("~/Views/Shared/SVG/_SVG_Veit_plus.cshtml")
                VEIT Electronics
            </h2>
            <hr />
            <h3>@Resources.contact_header</h3>
            <p>
                <adress><span itemprop="name">VEIT Electronics</span><br>Modřická 52<br>644 48 Moravany<br>Czech Republic</adress>
            </p>
            <p>
                <adress><strong>GPS:</strong> 49.145258, 16.586535</adress>
            </p>
            <p>
                <adress><strong>@Resources.contact_hours:</strong> @Resources.contact_days 7:00 – 15:30</adress>
            </p>
            <p>
                <adress><strong>tel: <a href="tel:+420 545 235 252" target="_blank">+420 545 235 252</a></strong></adress><br>
                <strong>e-mail: <a href="mailto:info@veit.cz" target="_blank">info@veit.cz</strong></a>
            </p>
        </div>
        <div class="gmap medium-6 columns">
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2609.909894379233!2d16.584707615889172!3d49.145335188413334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712bfd52da8bb59%3A0x748f6422c0fb4338!2sVEIT+Electronics!5e0!3m2!1scs!2scz!4v1471954292493" width="100%" height="330" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="contact-text medium-6 columns">
            <h3>@Resources.contact_us</h3>
            <p>@Resources.contact_us_text</p>
            <ul class="menu social">
                <li><a href="#"><i class="fa fa-facebook fa-2x veitRed"></i>Facebook</a></li>
                <li><a href="#"><i class="fa fa-google fa-2x veitRed"></i>Google</a></li>
                <li><a href="#"><i class="fa fa-twitter fa-2x veitRed"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-linkedin fa-2x veitRed"></i> Linked In</a></li>
            </ul>
        </div>
        <div class="contact-form medium-6 columns">
            <div class="input-group">
                @*<label labelfor="contact_form_name" aria-label="contact_form_name">@Resources.name</label>*@
                <input type="text" placeholder="@Resources.name" aria-labelledby="contact_form_name">

                @*<label labelfor="contact_form_email" aria-label="contact_form_email">@Resources.email</label>*@
                <input type="email" placeholder="@Resources.email" aria-labelledby="contact_form_email">

                @*<label labelfor="contact_form_message" aria-label="contact_form_message">@Resources.message</label>*@
                <textarea placeholder="@Resources.contact_message" aria-labelledby="contact_form_message"></textarea>

                <button class="button expanded send-form"><i class="fa fa-paper-plane"></i> @Resources.submit</button>

            </div>
        </div>
    </div>
</div>
