﻿@using System.Runtime.Versioning
@using OrdersWebApp.Properties
@{
    ViewBag.Title = Resources.veit + ' ' + Resources.orders;
    ViewBag.Description = Resources.order_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="orders" class="orders main-content-wrap">
    <h1 class="show-for-medium">@Html.Partial("_TitleHome")</h1>
    <div class="liner show-for-medium"></div>

    <section class="identification row">
        <div class="columns small-12">
            <h2>
                @Html.Partial("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
                @Resources.identification
            </h2>
            <div class="liner small"></div>
        </div>
        <div class="columns small-12 medium-5 large-5">
            <label for="order-id">
                <i class="fa fa-calendar-o"></i>
                @Resources.order_id
            </label>
            <input name="order-id" class="no-spin" type="number" value="{{orderId}}" placeholder="Fill your order number."/>
            <label for="personal-code">
                <i class="fa fa-key"></i>
                @Resources.order_code
            </label>
            <div class="button-group with-inputs">
                <input name="personal-code" class="no-spin with-button" type="number" value="0278" placeholder="Fill your personal code."/>
                <button class="button with-input" ng-click="verifyCode = !verifyCode">
                    <i class="fa fa-refresh fa-lg " ng-class="{'' : !verifyCode, 'fa-spin': verifyCode}"></i>
                    @Resources.verify
                </button>
            </div>
        </div>
        <div class="columns small-12 medium-7 large-7">
            <label>
                <i class="fa fa-building"></i>
                Mailing address
            </label>
            <div class="order-recipient">
                <h3>{{company.name}}</h3>
                <div>{{company.address}}</div>
                <div>{{company.postal}}</div>
                <br/>
                <div>{{company.vac}}</div>
            </div>
        </div>
    </section>
    <section class="order-items row clearfix">
        <div class="columns tiny-12">
            <h2>
                @Html.Partial("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
                @Resources.ordered @Resources.items
            </h2>
            <div class="liner small"></div>
        </div>
        <div class="columns tiny-12">
            <ul class="order-list">
                <li class="order-item clearfix" ng-repeat="orderItem in itemsInOrder" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="first-line">
                        <div class="order-item-name columns tiny-9 small-10 medium-8">
                            <span class="order-item-index">{{$index + 1}}</span>
                            {{orderItem.name}}
                        </div>
                        <div class="order-item-price columns tiny-3 small-2 medium-2">
                            {{orderItem.price}} {{orderPriceUnit}}
                        </div>
                    </div>
                    <div class="order-item-count columns tiny-3 small-2 medium-2 ">
                        {{orderItem.count}} {{orderCountUnit}}
                    </div>
                    <div class="order-item-desc columns tiny-9 small-10 medium-12">
                        {{orderItem.desc}}
                    </div>
                </li>
            </ul>
            <div class="order-total clearfix">
                <div class="order-total-name columns tiny-6">
                    @Resources.order_total
                </div>
                <div class="order-total-price columns tiny-6">
                    {{orderTotal}} {{orderPriceUnit}}
                </div>
            </div>
        </div>
    </section>
    <section class="confirmation row">
        <div class="columns tiny-12 clearfix">
            <h2>
                @Html.Partial("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
                @Resources.confirmation
            </h2>
            <div class="liner small"></div>
            <h3 class="order-date"><i class="fa fa-truck veitRed"></i> @Resources.order_date: <span><i class="fa fa-calendar-check-o veitRed"></i> {{orderDate | date: orderDateFormat}}</span></h3>

        </div>
        <div class="order-form-wrap">
            <form action="/" method="post">

                <div class="order-date-option radio-wrap" ng-class="{active : activeState === 'ChangeOrder'}">
                    <div class="column tiny-12 small-6 medium-6">
                        <label ng-click="activeState = 'ChangeOrder'">
                            <input id="ChangeOrder" name="ConfirmDate" type="radio" value="ChangeOrder" ng-model="order.state">
                            <input type="hidden" value="false" ng-model="order.state">
                            <div class="is-radio"></div>
                            @Resources.cancel @Resources.order
                        </label>
                        <div class="order-date-content">
                            <button class="order-cancel button large expanded alert">
                                <i class="fa fa-ban fa-lg"></i>
                                @Resources.cancel @Resources.order
                            </button>
                        </div>
                    </div>

                    <div class="order-date-content column tiny-12 small-6">
                        <label>
                            <i class="fa fa-pencil"></i>
                            Please, fill reasons for your cancelation
                        </label>
                        <textarea name="message" cols="3" rows="3"></textarea>
                    </div>


                </div>

                <div class="order-date-option radio-wrap" ng-class="{active : activeState === 'ChangeDate'}">
                    <div class="column tiny-12 small-6">
                        <label ng-click="activeState = 'ChangeDate'">
                            <input id="ChangeDate" name="ConfirmDate" type="radio" value="ChangeDate" ng-model="order.state">
                            <input type="hidden" value="false" ng-model="order.state">
                            <div class="is-radio"></div>
                            @Resources.change @Resources.order_date
                        </label>
                        <div class="order-date-content">
                            <p>
                                <i class="fa fa-exclamation-triangle"></i>
                                We will confirm your new delivery date as soon as posible
                            </p>
                            <datepicker date-format="yyyy-MM-dd" date-min-limit="{{orderDate.From | date:'yyyy-MM-dd'}}" date-set="{{orderDate}}">
                                <input type="date" ng-model="orderDate" ng-class="{invalid : orderDate.From >= orderDate.To}" ng-change="dateChanged()">                               
                            </datepicker>
                        </div>
                    </div>
                    <div class="order-date-content column tiny-12 small-6">
                        <label>
                            <i class="fa fa-pencil"></i>
                            Write some additional information
                        </label>
                        <textarea name="message" cols="3" rows="3"></textarea>
                        <button class="order-newdate button large expanded success">
                            <i class="fa fa-paper-plane fa-lg"></i>
                            Send us the new delivery date
                        </button>
                    </div>
                </div>


                <div class="order-date-option radio-wrap active" ng-class="{active : activeState === 'NoChanges'}">
                    <div class="column tiny-12 small-6">
                        <label ng-click="activeState = 'NoChanges'">
                            <input id="NoChanges" name="ConfirmDate" type="radio" value="NoChanges" ng-model="order.state">
                            <input type="hidden" value="false" ng-model="order.state">
                            <div class="is-radio"></div>
                            @Resources.order_confirm_nochanges
                        </label>
                    </div>
                    <div class="order-date-content column tiny-12 small-6">
                        <button class="order-confirm button large expanded success">
                            <i class="fa fa-check fa-lg"></i>
                            @Resources.confirm @Resources.order
                        </button>
                    </div>
                </div>


            </form>
        </div>
    </section>
    <section class="order-footer row">
        <div class="columns tiny-12 clearfix">
            <div class="liner small"></div>
            <p class="text-center">End of Order Id: #{{orderId}}</p>
        </div>
    </section>
</div>

