﻿@using OrdersWebApp.Properties

<div class="static-menu side-menu-wrap">

    <div class="logo-wrap">
        <a href="/home">@Html.Partial("~/Views/Shared/SVG/_SVG_Veit_logo.cshtml")</a>
    </div>

    <ul class="menu vertical">

        @Html.Partial("~/Views/Shared/_NavMainPublic.cshtml")

    </ul>

</div>
<div class="divider-wrap">
    @*<div><i aria-hidden="true" class="fa fa-calendar-check-o"></i></div>*@
</div>
<div id="side-submenu" class="dynamic-menu side-menu-wrap" ng-cloak>

</div>