﻿@using System
@using OrdersWebApp.Properties

<footer class="footer">

    <div class="row">
        <div class="column tiny-6">
            <span>
                &copy; @DateTime.Now.Year – <a href="http://www.veit.cz" target="_blank" class="footer-link">VEIT Electronics</a>
            </span>
        </div>
        <div class="column tiny-6 ">
            <ul class="menu social align-right">
                <li><a href="https://www.facebook.com/veit.cz/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=3LNSLKfmRxc" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://twitter.com/VeitElectronics" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="show-for-medium">
                    <span>@Resources.footer_social</span>
                </li>
            </ul>
        </div>
    </div>
</footer> 