﻿@using System.Web
@using System.Web.UI.HtmlControls
@using OrdersWebApp.Properties

<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="OrdersApp">
<head>
   <meta charset="UTF-8" />

   @*Set the viewport width to device width for mobile *@
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="" />

   <title>@ViewBag.Title | @ViewBag.Description</title>
   <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Oswald:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   @*<link href="~/Content/css/icomoon.css" rel="stylesheet" />*@
   <link href="~/Content/css/font-awesome/font-awesome.css" rel="stylesheet" />
   <link href="~/Content/css/site.css" rel="stylesheet"/>

   @*<link href="~/Content/css/angular-datatables.css" rel="stylesheet" />*@
   @RenderSection("head", required: false)
   @Scripts.Render("~/bundles/modernizr")

</head>
@{
   var css = "is-off-canvas-open is-open-left";
   if (HttpContext.Current.Request.Cookies["leftSideMenu"] == null)
   {
      css = "";
   }

}
<body class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "contact" : "")" ng-cloak>
    <div>
        <div class="off-canvas-wrapper" disable-auto-close="true">
            <div class="off-canvas-wrapper-inner @css" ng-class="{ 'is-off-canvas-open is-open-right': showSubmenu }" ng-controller="@ViewBag.Controller">
                <!-- off-canvas title bar for 'small' screen -->
                <div class="title-bar hide-for-medium veitRed-bg">
                    <div class="title-bar-left toggle-menu">
                        <a class="left-off-canvas-toggle menu-icon" href="" type="button" ng-click="showSubmenu = false"></a>
                    </div>
                    <div class="title-bar-title" ng-class="{active : editingDeviceName}">
                        @Html.Partial("~/Views/Shared/_Title.cshtml")
                    </div>
                    @*@if (User.Identity.IsAuthenticated)
                        {
                           if (home == "homepage")
                           {
                              @Html.Partial("_NavLoginPublic")
                           }
                           else
                           {
                              @Html.Partial("_NavSettingsMobile")
                           }
                        }
                        else
                        {
                           @Html.Partial("_NavLoginPublic")
                        }*@
                    <div class="clear"></div>
                    <div class="edit-menu" ng-class="{active: showSubmenu}">
                        @Html.Partial("~/Views/Shared/_NavEdit.cshtml")
                    </div>
                    <div class="clear"></div>
                </div>

                <!-- off-canvas left menu -->
                <div class="off-canvas position-left" id="offCanvasLeft">
                    @Html.Partial("~/Views/Shared/_AsideLeft.cshtml")
                </div>

                <!-- off-canvas right menu -->
                <div class="off-canvas position-right" id="offCanvasRight">
                    @Html.Partial("~/Views/Shared/_AsideRight.cshtml")
                </div>

                <!-- "wider" top-bar menu for 'medium' and up -->
                <div class="sticky-container show-for-medium">
                    <div id="widemenu" class="top-bar sticky container">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" dropdown-menu>
                                <li class="toggle-menu show-for-small-only">
                                    <a class="left-off-canvas-toggle menu-icon" href="" type="button" veit-toggle-menu></a>
                                </li>
                                <li class="menu-logo hide-for-small-only">
                                    <a class="veit-logo" href="/home">@Html.Partial("~/Views/Shared/SVG/_SVG_Veit_logo.cshtml")</a>
                                </li>
                                @Html.Partial("~/Views/Shared/_NavMainPublic.cshtml")
                                @*@if (User.Identity.IsAuthenticated)
                                    {
                                       if (home == "homepage")
                                       {
                                          @Html.Partial("_NavMainPublic", new ViewDataDictionary { { "submenu", true } })
                                       }
                                       else
                                       {
                                          @Html.Partial("_NavMain", new ViewDataDictionary { { "submenu", true } })
                                       }
                                    }
                                    else
                                    {
                                       @Html.Partial("_NavMainPublic", new ViewDataDictionary { { "submenu", true } })
                                    }*@

                            </ul>

                        </div>
                        <div class="top-bar-right">
                            @*@if (User.Identity.IsAuthenticated)
                                {
                                    if (home == "homepage")
                                    {
                                        @Html.Partial("_NavLoginPublic")
                                    }
                                    else
                                    {
                                        @Html.Partial("_NavSettings")
                                    }
                                }
                                else
                                {
                                    @Html.Partial("_NavLoginPublic")
                                }*@

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- original content goes in this container -->
                <div class="off-canvas-content container body-content">

                    <div class="column main-content">
                        @RenderBody()
                        @Html.Partial("~/Views/Shared/_Footer.cshtml")
                        @Html.Partial("~/Views/Shared/SVG/_SVG_Loader.cshtml")
                    </div>

                    <!-- close wrapper, no more content after this -->
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bower_components")
    @Scripts.Render("~/Scripts/script.js")

    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)

</body>

</html>