﻿@using OrdersWebApp.Properties
@using Microsoft.AspNet.Identity

<div class="title-bar-right toggle-menu">
    <a class="menu-icon dots" href="" type="button" ng-click="showSubmenu = !showSubmenu"></a>

    <a class="menu-icon own-icon settings-menu" href="/settings/#">
        <i class="fa fa-cog fa-lg fa-fw" veit-hash-path="settings"></i>
    </a>
    <a class="menu-icon own-icon profile-menu" href="/manage" title="@Resources.manage">
        <i class="fa fa-user fa-lg fa-fw" veit-hash-path="manage"></i><span>@User.Identity.GetUserName()</span>
    </a>
    <a class="menu-icon own-icon profile-menu companies-menu" href="/companies" title="@Resources.companies">
        <i class="fa fa-building fa-lg fa-fw" veit-hash-path="companies"></i><span>@Resources.companies</span>
    </a>

</div>
