﻿@using OrdersWebApp.Properties
@using Microsoft.AspNet.Identity
@{

    var home = "nested vertical";
    if ((@ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower() == "home")
    {
        home = "";
    }
}
<ul class="@home menu">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
        {
            @Html.AntiForgeryToken()


            <li>
                <a href="/manage" title="@Resources.manage" >
                    <span class="list-photo-small" veit-hash-path="manage">
                        <img src="~/users/getphoto/@User.Identity.GetUserId()" />
                    </span>
                    <span>@User.Identity.GetUserName()</span>
                </a>

            </li>
            <li>
                <a href="/profile" title="@Resources.company @Resources.profile">
                    <span class="list-photo-small" veit-hash-path="manage">
                        <img src="~/users/getphoto/@User.Identity.GetUserId()" />
                    </span>
                    <span>@Resources.company</span>
                </a>

            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-sign-out fa-lg fa-fw"></i>@Resources.logout
                </a>
            </li>

        }
    }
    else
    {
        <li>
            <a id="registerLink" href="@Url.Action("Register", "Account")" title="@Resources.registration">
                <i class="fa fa-user-plus" veit-hash-path="register"></i>@Resources.register
            </a>
        </li>
        <li>
            <a id="loginLink" href="@Url.Action("Login", "Account")" title="@Resources.login">
                <i class="fa fa-sign-in fa-fw" veit-hash-path="login"></i>@Resources.login
            </a>
        </li>
    }
</ul>