﻿@using OrdersWebApp.Properties
@using Microsoft.AspNet.Identity

<ul class="dropdown menu" dropdown-menu veit-hash-path="companies profile">
    <li class="companies-menu">
        <a href="/companies/#" title="@Resources.companies">
            <i class="fa fa-building fa-lg fa-fw" veit-hash-path="companies"></i>
            <span class="show-for-large">@Resources.companies</span>
        </a>
    </li>
    <li class="profile-menu">
        <a href="/manage/#" title="@Resources.profile">
            <i class="fa fa-user fa-lg fa-fw" veit-hash-path="manage"></i>
            <span>@Resources.profile</span>
        </a>
        @Html.Partial("_NavLoginPublic")
    </li>
    <li class="settings-menu">
        <a href="/settings/#" title="@Resources.settings">
            <i class="fa fa-cog fa-lg fa-fw" veit-hash-path="settings"></i>
            <span class="show-for-large">@Resources.settings</span>
        </a>
    </li>
    <li class="toggle-menu">
        <a class="right-off-canvas-toggle menu-icon dots" href="" type="button" right-menu></a>
    </li>
</ul>

