﻿@using OrdersWebApp.Properties

<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
    <a href="@Url.Action("Index", "Home")">
        <i class=" fa fa-calendar-check-o fa-fw fa-lg"></i>@Resources.orders
    </a>
</li>
<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
    <a href="@Url.Action("About", "Home")">
        <i class="fa fa-building fa-fw fa-lg"></i>@Resources.about
    </a>
</li>
<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
    <a href="@Url.Action("Contact", "Home")">
        <i class="fa fa-paper-plane fa-fw fa-lg"></i>@Resources.contact
    </a>
</li>

