﻿@import 'settings';
@import 'foundation';
@include foundation-everything;

/*                                   
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-off-canvas;
@include foundation-top-bar;
@include foundation-title-bar;

@include foundation-menu;
@include foundation-dropdown-menu;
@include foundation-forms;
*/
 
@import 'checkbox';
@import 'radio';
@import 'datepicker';


/*--BAT3 APP STYLES--*/
/*--colors setup---*/
.veitRed {
  color: $veitRed !important;
}
.veitWhite {
  color: $veitWhite !important;
}
.veitGreen {
  color: $veitGreen !important;
}
.veitBlue {
  color: $veitBlue !important;
}
/*--bg setup---*/
.veitRed-bg {
  background-color: $veitRed !important;
}
.veitGreen-bg {
  background-color: $veitGreen !important;
}
.veitBlue-bg {
  background-color: $veitBlue !important;
}
.veitLightGrey-bg {
  background-color: $veitLightGrey !important;
}
.veitMediumGrey-bg {
  background-color: $veitMediumGrey !important;
}

/*--globals--*/
.veit-logo,
.menu-logo {
    padding: 0 !important;
    padding-left: 0 !important;
    background: $primary-color !important;
    width: 150px;
}
.menu-logo {
    border-right: 1px solid $black;
}
.top-bar .menu > li a.veit-logo {
    padding-left: 0.25rem !important;
    @media screen and (max-width: 767px) {
    padding-left: 0 !important;
    }
}
.menu > li > a.veit-logo img {
    vertical-align: top;
    top: 0;
    margin-right: 0;
    width: 150px;
} 
.veit-dot {
    height: ($global-all * 2);
    left: 0;
    margin: 0 (0.25 * $global-all) (0.5 * $global-all) 0;
    width: ($global-all * 2);
    @media screen and (max-width: 640px) {
    height: ($global-all * 1.4);
    width: ($global-all * 1.4);
    }
}
.veit-dot.small {
  height: $global-all;
  margin: (0.35 * $global-all) (0.5 * $global-all) (0.5 * $global-all) 0;
  width: $global-all;
}
.liner {
    border-top: 5px solid $light-gray;
    padding: 0 0 $global-all;
    position: relative;
}
.liner.small {
    border-top-width: 2px;
    padding: 0 0 $global-all;
}
.divider {
    font-weight: 600;
    color: $veitRed;
    margin: 0 (0.5 * $global-all);
}

.button.active {
    background-color: $primary-color !important;
    color: $white !important;
}
.button.alert {
    &:hover {
        background-color: $veitGreen;
    }
}
.button .fa {
    margin-right: (0.25 * $global-all);
    &.fa-lg {
        line-height: 0;
        top: 3px;
        position: relative;
    }
}
.button .fa.right{
    margin-left: (0.25 * $global-all);
}
.button .fa.fa-fw {
    padding: 0;
    width: 100%;
}
label .fa {
    padding-right: (0.5 * $global-all);
    width: auto;
}
.switch.in-list {
    margin-bottom: 1px;
}
.pointer {
    cursor: pointer;
}
.hidden {
    display: none !important;
}

/*Hide elemment when data is loading to angular*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*--LAYOUT--*/


.off-canvas-content {
    max-width: 2000px;
    width: 100%;
    height: 100vh;
    min-width: 320px;
}
.off-canvas-wrapper-inner {
    /*transition: none;*/
}
.off-canvas.position-right {
    right: -72px;
    width: 72px;
}
.is-open-right {
  transform: translateX(-72px);
}
.is-open-left.off-canvas-wrapper-inner {
     /*max-width: calc(100% - 250px);*/
}
.is-open-right.off-canvas-wrapper-inner {
     max-width: calc(100% - 72px);
     transform: translateX(0px);
     
}
.is-open-right.is-open-left.off-canvas-wrapper-inner {
     max-width: calc(100% - 72px - 250px);
     transform: translateX(250px);
     transition: none;
}
.left-off-canvas-menu {
     width: 250px;    
}
.right-off-canvas-menu {
     width: 72px;  
     z-index: 0;
    position: absolute !important;
}


.js-off-canvas-exit {
  background: rgba(34, 34, 34, 0.85);
  z-index:999;
}
.is-open-right  .js-off-canvas-exit {
  display: none !important;
}

body:not(.homepage) .row {
  max-width: 75rem;
  margin-left: -$global-all;
  margin-right: -$global-all;
  &.right-scroll {
      margin-left: 0;
  }
  @media screen and (max-width: 640px) {
    margin-left: 0; 
    margin-right: 0;   
  }
}

.main-content {
    height: calc(100vh - 62px);
    overflow-x: hidden;
    position: relative;
    padding: $global-all;
    transition: all 0.3s;  

    & > div,
    & > footer .row {
        max-width: 980px;
        margin: auto;
    }
    @media screen and (min-width: 768px) {
    top: 62px;
    padding-top: (0.5 * $global-all);
    }    
    @media screen and (max-width: 767px) {
    height: calc(100vh - 40px);
    top: 40px;
    .is-open-right & {
        top: calc(40px + 62px);
        height: calc(100vh - 40px - 62px);
    }
    } 
    /*.is-open-left.off-canvas-wrapper-inner & {
        overflow:hidden;
    }*/   
}


/*--- MAIN NAVIGATION --- */

$toggle-menu-size: 2.5 * $global-all; 
$top-bar-right-width: 4 * $toggle-menu-size;
$title-bar-title-width: calc(100% - #{$toggle-menu-size} - #{$top-bar-right-width} - 1px);
$title-bar-title-width-mobile: 187px; 


.top-bar {
    width: 100% !important;
    z-index: 6;
}
.title-bar {
    min-width: 320px;
    z-index: 9;
    position: absolute;
    width: 100%;
}

.toggle-menu {
    min-width: $toggle-menu-size;
    height: $toggle-menu-size;
    text-align: center;
    z-index: 9;
    position: relative;
    @media screen and (max-width: 767px) {
        background-color: $veitRed;
        a .fa {
            color: $white;
        }
    } 
    & a {
        float: right;
        color: $white;
        &:hover {
            opacity: 0.8;
        }

    }

    &.title-bar-left {
        width: #{$toggle-menu-size};
        & .menu-icon {
            width: 100%;
        }
    }
    &.title-bar-right {
        /*width: #{$top-bar-right-width};*/
        & .menu-icon {
            width: #{$toggle-menu-size};
            border-left: 1px solid $white;
            &:last-child {
                border-left: 0;
            }
        }

    }
}

.toggle-menu .menu-icon {
   height: 100%;
   vertical-align: top;

   &:after {
   top: calc(50% - #{0.5*$global-all});
   left: 0.5*$global-all;
   width: calc(100% - #{$global-all});
    }
   &:hover::after {
    background: $white;
    box-shadow: 0 7px 0 $white, 0 14px 0 $white;
    opacity: 0.8;
    }
   .top-bar-left &:after {
    top: 18px;
    position: relative;
    }
   /*--change bars to dots--*/
    &.dots:after {
        height: 3px;
        top: calc(50% - 12px);
        margin: 0;
        left: calc(50% - 3px);
        box-shadow: 0 0 0 1px #FFFFFF, 0 9px 0 1px #FFFFFF, 0 18px 0 1px #FFFFFF;
        width: 4px;
        background: #fff;
        border-radius: 50%;
    }
    /*--no bars or dots --*/
        &.own-icon:after {
        height: 0;
        display: none;
        width: 0;
    }

    &.own-icon {
    position: relative;
    height: 100%;
    min-width: $toggle-menu-size;
    &.active {
        background: $white;
        & .fa {
            color: $veitRed;
        }
    }
    & .fa {
        margin: 0;
        font-size: 1.6rem !important;
        line-height: #{$toggle-menu-size};
        }
    }
    &.profile-menu {
        span {
            display: none;
            position: absolute;
        }
        &:hover span {
            display: block;
        }
    }
}

.menu li > a {
    color: foreground($topbar-background);
}
.top-bar .menu:not(.submenu) > li > a {
    color: foreground($topbar-background);
    height: 62px;
    line-height: 62px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;

    &.active {
        background-color: $veitRed;
        .fa {
            color: $white;
        }
    }
    
    @media screen and (max-width: 785px) {
        font-size: 0.9rem;
        & i {
            font-size: 1rem;
            margin-right: 0;
        }
        }
}
.top-bar .menu.submenu li > a {
    height: 3.2rem;
}
.top-bar .menu li a {
    padding-left: 0.5rem !important;
}
.top-bar .menu.vertical li > a {
  text-transform: none;
}
.top-bar-right .menu.vertical > li {
    display: inline-block;
}
.top-bar-right .menu li > a > i {
        margin-right: 0;
}
.top-bar-right .menu:not(.submenu) li.toggle-menu > button {
    margin-top: 19px;
}
.top-bar > div > .menu li:hover {
    background: $secondary-color;
}

@media screen and (max-width: 900px) {
.curves-menu .is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
  left: auto;
  right: 100%;
}
}

/*--CALLOUT (invalid form input)--*/

.callout.headline {
  background-image: url("/Content/images/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 47vh;
  z-index: 0;
  border-top: 5px solid $primary-color;
}

.callout.headline h1,
.callout.headline .lead {
  color: $white;
  text-align: center;
}
.callout.headline h1 {
  margin-top: ($global-padding * 2);
}




/*---LOADER---*/
#content-loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:9999;
    background-color: rgba(0,0,0,.5);
}
.loader {
  height: 100px;
  width: 20%;
  text-align: center;
  margin: calc(50vh - 50px) auto 0;
}
.loader svg {
    height: 100%;
    width: 100%;
}
.loader svg path, .loader svg rect {
  fill: $veitRed;
}

.sidebar {
    overflow-x: hidden;
    /*direction: rtl;*/
}
.side-menu-wrap {
    direction: ltr;
    unicode-bidi: bidi-override;
}
.sensors-list .content-wrap {
    text-align: center;
}
.table-wrap {
    overflow-x: auto;
    overflow-y: hidden;
}
ul li ul, ul li ol {
  list-style: none;
    margin: 0;
}
.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list ul li {
    border-bottom: 1px solid #f3f3f3;
}
.list ul li:last-child {
    border-bottom: 0;
}
.list button,
.list .button {
    margin: 0;
    background: none;
    color: #222;
    width: 100%;
    padding-left: $global-all;
    padding-right: $global-all;
    text-align: left;
}
.list button:hover,
.list .button:hover {
    background: $secondary-color;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: $global-all;
}
p a {
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}
p a:hover {
    color: $primary-color;
}
h1, 
h1 input[type="text"],
h1 input[type="text"]:hover,
h1 input[type="text"]:disabled,
h1 input[type="text"]:disabled:hover,
.title-bar-title input[type="text"],
.title-bar-title input[type="text"]:hover,
.title-bar-title input[type="text"]:disabled:hover {
  margin: 0;
  position: relative;
    color: $secondary-color;
    cursor: default;
    font-size: 2rem;
    line-height: 2rem;
    font-family: Roboto,Arial,sans-serif;
    padding: 0;
    background: none;
    top: 5px;
    z-index: 1;
}
h1 {
    /*padding: 0 0 0.5rem 3.5rem;*/
    line-height: 3rem;
}
.title-bar-title {
    width: $title-bar-title-width;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 0.5rem;
    line-height: 2.5rem;
    position: relative;
    z-index: 9;
    background-color: $veitRed;
    &.active {
        background-color: $white;
    }
    .homepage & {
        width: $title-bar-title-width-mobile;
    }
}
.title-bar-title input[type="text"],
.title-bar-title input[type="text"]:hover,
.title-bar-title input[type="text"]:disabled,
.title-bar-title input[type="text"]:disabled:hover {
    width: $title-bar-title-width;
    font-size: 1.2rem;
    height: 33px;
    display: inline-block;
    color: $white;
    top: 0;
}
h1 .fa {
    color: $primary-color;
  font-size: 3rem;
  margin: 0 $global-all 0.5rem 0;
  width: 2rem; 
    position: relative;
    height: 2rem;
    left: 0;
    top: -4px
    /*z-index: 4;*/
}
.title-bar-title .status {
    position: relative;
    top: 0px;
}
.title-bar-title.active .status {
    color: $veitBlack;
}
.birds .title-bar-title .fa {
    position: relative;
    top: 2px;
}
h1 input[type="text"],
h1 input[type="text"]:hover,  
h1 input[type="text"]:focus, 
.title-bar-title input[type="text"],
.title-bar-title input[type="text"]:hover,
.title-bar-title input[type="text"]:focus{
    border: 0;
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
}
h1 input[type="text"]:disabled,
.title-bar-title input[type="text"]:disabled {
    border: 0;
    border-bottom: 2px solid transparent;
}
h1 .edit-button {
    position: absolute;
    right: 0;
    top: (1 * $global-all);
    cursor: pointer;
    z-index: 3;
    line-height: (2 * $global-all);
}
h1 .edit-button .fa {
    position: static;
    font-size: 2.2rem;
    margin: 0;
}
.title-bar-title .edit-button {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}
.title-bar-title .edit-button .fa.fa-check-square-o {
    left: -2px;
    position: relative;
    color: $primary-color;
}


.serial-number {
    position: absolute;
    top: (2 * $global-all);
    right: (3.5 * $global-all);
    text-align: right;
    line-height: (2 * $global-all);
    @media screen and (max-width: 639px) {
        top: 0;
        right: 0;
        }
}
h2 {
  font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 3px;
    position: relative;
    & .fa {
    color: $primary-color;
  font-size: 2rem;
  margin: 0;
  width: 2rem;
    position: relative;
    height: 2rem;
    left: 0;
    z-index: 1;
    }
}
.title-wrap {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 2px;
    margin-bottom: -2px;
    & .checkbox-wrap {
    top: 7px;
    }
    & h2 {
    float: left;
    }
}
.info-box {
    background: $veitWhite;
    padding: 1rem;
    color: $secondary-color;
    margin-bottom: 2rem;
    border: 1px solid $light-gray;
}
.info-box p {
    margin-bottom: 0;
}
.info-box.important {
    background: none;
    border: 1px solid $primary-color;
    padding: 1rem;
    padding-bottom: 0.4rem;
    color: $primary-color;
}
.info-box.important label {
    color: $primary-color;
}

/*--button--*/
.button.right-icon .fa {
    left: calc(100% - 2rem - 14px);
    padding-left: 3px;
}
.button.label {
    background-color: $secondary-color;
    padding: 0.5rem 1rem;
}
.button.label:hover {
    background-color: $primary-color;
}
.button + .over-layer {
    top: 0;
    left: 0;
    z-index: 9;
}
.columns .button-group > li,
.column .button-group > li {
  /*margin: 0;*/
}
.button-group.right-align  {
    text-align: right;
    float: right;
}
.button-group.center  {
    text-align: center;
}
.button-group.center > li {
    margin: 0;
}
.button-group.center > li button {
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
.liner .button-group {
    margin-top: 20px;
}
span.bigger-font {
    font-size: 140%;
    position: relative;
    top: 2px;
}

/*-nezobrazuje spiner u inputu type number (chová se jako textfield)-*/
input[type=number] {-moz-appearance: textfield;}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}

/*-nezobrazuje šipku a kalendář v Chrome u inputu type date-*/
input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

select:hover, 
input:hover {
  /*background-color: #f3f3f3;
  border-color: #999999;*/
}


/*--input & select with button--*/

$input-height: 2.8rem;

.input-wrap,
.select-wrap {
  position: relative;
}
.input-wrap:after,
.select-wrap:after {
    content: "";
    clear: both;
    display: table;
}
.input-wrap > *,
.select-wrap > * {
    vertical-align: top;
}
.input-wrap input,
.select-wrap select,
.select-wrap .like-select {
    width: calc(100% - #{$input-height});
    float: left;
    display: inline-block;
    overflow: hidden;
    /*border-right: 0;*/
}
.input-wrap .button.with-input,
.select-wrap .button.with-select {
    width: $input-height;
    padding: 0;
    height: $input-height;
    line-height: $input-height;
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
    background: $veitWhite;
    color:$veitDarkGrey;
    border-right: 1px solid $veitLightGrey;
    border-bottom: 2px solid $veitLightGrey;
    transition: border-color 0.2s ease-in-out;
}
.input-wrap input:focus + .button.with-input,
.select-wrap select:focus + .button.with-select {
    border-color: $veitRed;
    background: none;
    .fa {
        color: $veitRed;
    }
}
.input-wrap .button.with-input .fa,
.select-wrap .button.with-select .fa {
    margin: 0 auto;
    left: 0;
    padding: 0;
    font-size: 1.4rem;
}
.input-wrap .button.with-input .hint,
.select-wrap .button.with-select .hint {
    min-width: 11.5rem;
    right: 0;
}

/*--input type number--*/

input[type="number"] {
    width: calc(100% - 2rem);
    float: left;
}
.spin.button {
    display: block;
    float: right;
    font-size: $global-all;
    font-weight: 700;
    line-height: 1.65rem;
    margin: 0;
    padding: 0 !important;
    width: 2rem !important;
    position: relative;
    text-align: center !important;
}
.dec.spin.button:before {
    position: absolute;
    display: block;
    content: '';
    background-color: #fff;
    height: 1px;
    width: 100%;
    top: 0;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.prefix, .postfix {
    font-size: 1.2rem;
    height: 2.8rem;
    line-height: 3rem;
}

input.no-spin {
    width: 100%;
    float: none;
    clear: both;
}

/*--input in button group --*/

.button-group.with-inputs {
    
    .button {
        width: 10rem;
        border: 0;
        background: $veitBlack;
        color: $white;
        font-size: initial;
        float: right;
        height: $input-height;
        line-height: $input-height;
        padding: 0;

        .fa {
            color: $veitRed;
            position: relative;
            top: 2px;
            margin-right: 0.25rem;
        }
    }
}
.button-group input[type="number"] {
    float: left;
    width: calc(100% - 10rem);
}
.fa-spin {
    padding: 0;
    animation-duration: 1.6s;
}


.clear {
    float: none;
    clear: both;
}

/*---DISABLED CLASS or ATTRIBUTE----*/

.disabled,
div[disabled="disabled"],
html input[disabled="disabled"] {
    position: relative;
    cursor: default;
}
.disabled:after,
div[disabled="disabled"]:after,
html input[disabled="disabled"]:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    z-index:1;
}

/*---ASTERISK----*/

.asterisk {
    color: $primary-color;
}

/*--HINTS--*/
/*--------------------------------------------------*/
$hint-bg: #666;
$hint-flag-size: 10px;

.with-hint {
    position: relative !important;
    overflow: visible;
}
.fa.with-hint {
    cursor: help !important;
}
.with-hint:not(.button) .fa{
    cursor: help !important;
}
.with-hint + .hint {
    display: block;
    position: absolute;
    background: $hint-bg;
    padding: 0.25rem 0.5rem;
    color: #fff;
    z-index: 0 !important;
    line-height: initial;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: normal; 
    transition: all .2s .0s;
    transform: translate(0, 100%);
    opacity: 0;
    visibility: hidden;
}
.with-hint + .hint.right-align {
    right: 0 !important;
}
.days-left .with-hint + .hint.right-align {
    z-index: 5 !important;
}
button.with-hint + .hint,
.button.with-hint + .hint {
    bottom: 1rem;
    right: 0;
}
.name-edit-buttons button.with-hint + .hint,
.name-edit-buttons .button.with-hint + .hint {
    bottom: -0.7rem;
    right: 2.4rem;
    min-width: 5.5rem;
}
.name-edit .name-edit-buttons button.with-hint + .hint,
.name-edit .name-edit-buttons .button.with-hint + .hint {
    top: -0.8rem;
    left: 2.4rem;
    min-width: 5.5rem;
}
.with-hint:hover + .hint,
.with-hint.sticked + .hint {
    display: block;
    position: absolute;
    z-index: 999 !important;
    transition: all .2s .6s;
    transform: translate(0, 0);
    opacity: 1;
    top:auto;
    visibility: visible;
}
.with-flag {

    &:after { 
    content: '';
    display: block;
    position:absolute;
    top: 0;
    width: 0; 
    height: 0; 
    border-top: $hint-flag-size solid $hint-bg; 
    }
    &.on-right {
        border-right: $hint-flag-size solid transparent; 
        right: calc(100% - #{$hint-flag-size})
    }
}




/*--TOP MENU BAR--*/

.tab-bar {
  background: $primary-color none repeat scroll 0 0;
  color: #ffffff;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
    z-index: 3;
}
.tab-bar:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
  position: absolute;
    bottom: 0;
}
.left-small {
  border-right: 1px solid rgba(255, 255, 255, 1);
}



/*---ASIDE RIGHT - EDIT MENU---*/


.edit-menu {
    position: relative;
    top: 51px;
    width: 72px;
    @media screen and (max-width: 767px) {
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out 0.1s;
    top: 40px;
    }
}
.edit-menu.active {
    display: block;
    transform: translateY(0);
}
.edit-menu .menu {
    border-top: 1px solid $black;
    background: $secondary-color; 
}
/*--edit-menu buttons--*/
.edit-menu .menu .button {
    font-size: 0.8rem;
    padding: $global-all 0.15rem;
    text-align: center;
    width: 100%;
    border-left: 0;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: normal;
    @media screen and (max-width: 767px){
        padding: 0.85em 1em;
    }  
}
.edit-menu.aside-right .menu > li {
    display: block;
    width: 100%;
}
.edit-menu .menu .button:focus,
.edit-menu .menu .button:hover {
    @media screen and (min-width: 768px){
    background-color: $black;
    }    
}
.edit-menu .menu .button.active:focus {
    background-color: $primary-color;
}
.edit-menu .menu .button .fa {
    position: static;
    left: 0;
    padding: 0;
    display: block;
    margin-bottom: 0.3rem;
    margin-right: 0;
    color: inherit;
}
/*---ok / cancel button*/
.check-button,
.cancel-button {
    font-weight: 600;
}
.check-button {
    color: $success-color;  
}
.cancel-button {
    color: $primary-color;
}
.check-button:hover,
.cancel-button:hover {
    color: white;
}
.check-button.disabled,
.cancel-button.disabled {
    color: $medium-gray !important;
}
.edit-menu .halfHour-button .fa {
    margin-bottom: -3px;
}
.edit-menu .button.detection-button.active {
    background-color: $secondary-color;
}
.edit-menu .button.detection-button.active:hover {
    background-color: $black;
}
.edit-menu .button.is-radio.active .fa:before {
    content: '\f058';
}

/*--SIDEBAR--*/

.logo-wrap {
    height: 90px;
   // border-bottom: 1px solid $black;
    text-align: center;
}
.logo-wrap img {
    width: auto;
    height: 58px;
}
.divider-wrap {
    position: relative;
    height: (4 * $global-all);
}
.dynamic-menu .menu li a {
    text-transform: none;
}
.dynamic-menu .accordion-content {
  padding: 0;
  border: 0;
  background: none;
}
.dynamic-menu .accordion-title {
    padding: 0;
    color: inherit;
    border: 0 !important;
    height: auto;
}
.dynamic-menu .menu li a {
    text-transform: none;
    height: 46px;
    font-size: 0.9rem;
}
.dynamic-menu .accordion-title::before {
    color: $veitRed;
}

/*--TOGGLER BUTTON--*/
 
.button.toggler {
    background: $light-gray;
    position: absolute;
    right: 0;
    top: 1px;
    margin: 0;
    color: $secondary-color;
    padding: 0.5rem 0.8rem;
    & .fa {
        margin-right: 0.4rem;
    }
}
.toggler-wrap {
    position: relative;
}
.toggler-content-wrap {
    overflow: hidden;
}
.toggler-content {
    display: none;
}
.toggler-content > div {
    margin-bottom: $global-all;
}
.toggler-content.active {
    display: block;
}


/*--RESPONSIVE LAYOUT--*/

@media screen and (max-width: 768px) {
    
.is-open-right.off-canvas-wrapper-inner {
    max-width: 100%;
    transition: none;
}
.is-open-right.is-open-left.off-canvas-wrapper-inner {
    max-width: calc(100% - 15.625rem);
    transition: all 500ms ease 0s;
    transform: translate3d(15.625rem, 0px, 0px);
}
    .button-group {
        margin-bottom: (0.5 * $global-all);
    }
    .is-open-left h1 input[type="text"],
    .was-open-left h1 input[type="text"],
    .is-open-left h1,
    .was-open-left h1 {
        line-height: 45px;
        padding: 0rem 0rem 0rem 50px;
        top: 0px;
        position: fixed;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 300;
        left: 45px;
        z-index: 3;
        width: calc(100% - 2.8125rem - 2.8125rem);
        height: 44px;
    }

        .is-open-left h1 input[type="text"],
        .was-open-left h1 input[type="text"] {
            background: #fff;
            border: 1px solid $primary-color;
            border-top: 1px solid $primary-color;
            color: #000;
            line-height: 42px;
            border-bottom: 1px solid $primary-color;
            left: 44px;
            margin: 0;
            height: auto;
            padding: 0rem 3.3125rem 0rem 50px;
            width: calc(100% - 2.8125rem - 2.8125rem + 2px);
        }

            .is-open-left h1 input[type="text"]:disabled,
            .was-open-left h1 input[type="text"]:disabled {
                background: none;
                border: 1px solid transparent;
                color: #fff;
            }

        .is-open-left h1 .fa,
        .was-open-left h1 .fa {
            line-height: 45px;
            font-size: 1.5rem;
            color: #fff;
            left: 15px;
            top: 0;
        }


        .is-open-left h1 .edit-button,
        .was-open-left h1 .edit-button {
            right: calc(2.8125rem + 0.5rem);
            position: absolute;
            top: 0;
        }

        .is-open-left h1 input:disabled + .edit-button .fa,
        .was-open-left h1 input:disabled + .edit-button .fa {
            color: #fff;
        }

        .is-open-left h1 .edit-button .fa,
        .was-open-left h1 .edit-button .fa {
            color: $primary-color;
            font-size: 1.6rem;
            position: absolute;
            top: 1px;
        }

        
    .is-open-left .liner:not(.small),
    .was-open-left liner:not(.small){
    border-top: 0;
}
.is-open-left .calendar .liner:not(.small),
.was-open-left .calendar .liner:not(.small) {
    margin-top: 3rem;
    border-top: 5px solid #e5e5e5;
}
.is-open-left .sensors .data-wrap,
.was-open-left .sensors .data-wrap {
   	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    }
}

@media screen and (max-width: 640px) {
h1 .edit-button {
    right: calc(2.8125rem + 0.5rem);
    position: absolute;
    top: 0;
}
h1 .edit-button .fa {
    color: $primary-color;
        font-size: 1.6rem;
    position: absolute;
    top: 1px;
}
h1 input[type="text"]:disabled + .edit-button .fa {
    color: #fff;
}

.liner:not(.small) {
    border-top: 0;
}

h2 .fa {
    font-size: 1.6rem;
}


.text_container {
    margin: 0;
    width: 100%;
}
}
@media screen and (max-width: 639px) {

.columns .button-group > li button,
.columns .button-group > li .button,
.column .button-group > li button,
.column .button-group > li .button {
    padding-left: 1.6rem;
    padding-right: 1.4rem;
}



}


@media screen and (max-width: 360px) {
    h2 {
    font-size: 1.2rem;
}
    h3 {
    font-size: $global-all;
    margin-top: 5px;
}


.columns .button-group > li button, 
.columns .button-group > li .button, 
.column .button-group > li button, 
.column .button-group > li .button {
    padding-left: 1.2rem;
    padding-right: $global-all;
}

 
}
 
/*@import 'users';*/
@import 'profile'; 
@import 'homepage';
@import 'orders';
 